NEXT_PUBLIC_URL=https://taqui.in
CRON_SECRET=replace-with-long-random-secret

NEXT_PUBLIC_UMAMI_SRC=
NEXT_PUBLIC_UMAMI_ID=
UMAMI_API_TOKEN=
UMAMI_WEBSITE_ID=
SMPT_HOST=
SMPT_USER=
SMPT_PASS=
WAKATIME_API_KEY=
