NEXT_PUBLIC_URL=https://taqui.in
CRON_SECRET=replace-with-long-random-secret

NEXT_PUBLIC_CLOUDFLARE_ANALYTICS_TOKEN=
CLOUDFLARE_API_TOKEN=
CLOUDFLARE_ACCOUNT_ID=
CLOUDFLARE_ZONE_ID=
CLOUDFLARE_SITE_TAG=
RESEND_KEY=
WAKATIME_API_KEY=
